html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  color: #2f2440;
}

i {
  color: #ba0f30;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h2,
h3,
h1,
p,
div,
section {
  margin: 0;
}

h2,
h1,
h3,
h4,
strong,
.bold {
  font-weight: 700;
}

h2[class='blue'] {
  color: blue;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: space-between;
  padding: 1em 2em;
  z-index: 9999;
}

header {
  z-index: 1;
  color: white;
  min-height: 100vh;
  position: relative;
}
.nav-list {
  display: none;
}

.nav-list li:not(:last-child) {
  margin-right: 3em;
}

.nav-link:hover,
.nav-link:focus {
  color: #ba0f30;
  outline: none;
}

.nav-link {
  color: #c6b79b;
  text-decoration: none;
}

.nav-hamburger {
  font-size: 2rem;
}

.hero-bg {
}

.hero {
  overflow: hidden;
  position: relative;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  background: url('/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-color: gray;
  background-blend-mode: multiply;
  margin: 0;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20em 2em;
}

.hero-content {
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 3;
  padding: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-tagline {
  margin-bottom: 1em;
}

.hero-tagline,
.hero-subtitle,
.hero-p {
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
}

.title,
.subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-size: 2rem;
}
.title::after {
  content: '';
  display: block;
  border-bottom: 3px solid #ba0f30;
  width: 45px;
  margin-bottom: 0.5em;
}
.subtitle {
  font-size: 0.8rem;
  letter-spacing: 4px;
}

.about-me {
  background-color: #c6b79b;
}

.section {
  padding: 5rem;
}

.about-me-image {
  border: 15px solid white;
}

.hero-tagline {
  background: #ff2511;
  padding: 0.5em 2em;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 2em;
  color: white;
  text-decoration: none;
  font-weight: 700;
  z-index: 999;
  position: relative;
  /* text-transform: uppercase;
  letter-spacing: 2px; */
}

.hero-tagline:hover,
.hero-tagline:focus {
  background: #dd1300;
  pointer: cursor;
  color: white;
  z-index: 2;
  position: relative;
}

a:hover {
  color: pink;
}

header {
  color: #c6b79b;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.about-me {
  padding-top: 15em;
}
