/* ======================================================> General Defaults */

#about,
#resume,
#skills,
#portfolio,
#contact {
  scroll-margin-top: 80px;
}
.mgb-xs {
  margin-bottom: 0.5em;
}

.mgb-s {
  margin-bottom: 1em;
}
.mgb-m {
  margin-bottom: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  color: rgb(96, 94, 91);
  background: white;
  overflow-x: hidden;
}

i {
  color: #ba0f30;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h2,
h3,
h1,
h4,
h5,
p,
div,
ul,
section {
  margin: 0;
}

h2,
h1,
h3,
h4,
strong,
.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  color: #2f2440;
}

ul {
  list-style: none;
  padding: 0;
}
/* ======================================================> Typography */

header,
.logo {
  color: #c6b79b;
  font-size: 1.5rem;
}

.hero-tagline,
.hero-subtitle,
.hero-p {
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
}

.title,
.subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-size: 2rem;
}
.title::after {
  content: '';
  display: block;
  border-bottom: 3px solid #ba0f30;
  width: 45px;
  margin-bottom: 0.5em;
}
.subtitle {
  font-size: 0.8rem;
  letter-spacing: 4px;
  color: rgb(96, 94, 91);
}

.active {
  color: #ba0f30;
  display: block;
}

.contact p {
  color: rgba(0, 0, 0, 0.6);
}

.hero-title,
.hero-content {
  color: #f9f7f5;
}

.nav-link-colored {
  color: #c6b79b;
}

tr {
  font-size: 0.9rem;
}
/* ======================================================> Layout */

/* multi */
.section {
  padding: 2em 2em;
}

.resume-list,
.skills-list {
  list-style: none;
  padding: 0;
}

.section-container {
  background-color: #ede9e1;
}

@media (min-width: 750px) {
  .section {
    padding: 2em 3em;
  }
}

@media (min-width: 900px) {
  .section {
    padding: 3em 2em;
  }
}

@media (min-width: 1090px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Header */

header {
  min-height: 80px;
  position: fixed;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  z-index: 9999;
  width: 100%;
  transition: background-color 300ms;
}
.nav-white-bg {
  background-color: white;
  box-shadow: 10px 2tpx 10px rgba(0, 0, 0, 0.1);
}
.nav {
  position: fixed;
  top: -300px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translateY(0);
  transition: transform 250ms;
  min-height: 200px;
  height: 30vh;
}

.nav-list {
  display: flex;
  min-height: 30vh;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: -1;
  padding: 0em 2em 1em;
  font-size: 1.2rem;
  line-height: 2;
}
.nav-link {
  color: white;
  transition: color 250ms;
}
.open-nav {
  transform: translateY(370px);
}

.nav-link:hover,
.nav-link:focus {
  color: #ba0f30;
  outline: none;
}

.nav-link {
  color: #c6b79b;
  text-decoration: none;
}

.nav-hamburger {
  font-size: 2rem;
  height: max-content;
}

.nav-hamburger:hover,
.nav-hamburger:focus {
  cursor: pointer;
  color: red;
}

@media (min-width: 800px) {
  .nav-hamburger {
    display: none;
  }
  body {
    width: 100vw;
  }
  header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80px;
    min-height: 80px;
  }
  .nav {
    position: initial;
    height: 0;
    min-height: 80px;
  }

  .nav-list {
    position: initial;
    display: flex;
    flex-direction: row;
    gap: 1em;
    background-color: transparent;
    align-items: center;
    min-height: 80px;
    padding: 0;
  }
}

@media (min-width: 1150px) {
  header {
    justify-content: center;
    gap: 19.5em;
  }
}

/* Hero */

.hero {
  overflow: hidden;
  position: relative;
}

.hero {
  top: 0;
  left: 0;
  background: url('/assets/mountain.jpg');
  background-size: cover;
  background-position: 40%;
  background-color: gray;
  background-blend-mode: multiply;
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20em 2em;
  z-index: 0;
  max-width: 100%;
}

.hero-content {
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 90;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-tagline {
  margin-bottom: 1em;
}

/* About Me */
.about-me-paragraph,
.about-me-info,
.about-me-image-container,
.about-me-btn {
  margin-bottom: 2em;
}
.about-me,
.skills,
.contact {
  background-color: #ede9e1;
}

.about-me-subtitle {
  margin-bottom: 3em;
}

.about-me-image-container {
  margin-left: auto;
  margin-right: auto;
  border: 15px solid white;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.about-me-image-container::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.about-me-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.about-me-bio-title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

tr {
  display: grid;
  grid-template-columns: 100px minmax(1em, 1fr);
  text-align: left;
}

th {
  grid-column: 1 / 2;
}

td {
  grid-column: 2 / 3;
}

@media (min-width: 750px) {
  tr {
    display: grid;
  }
  tr {
    grid-template-columns: 100px 1fr minmax(1em, 0.3fr) 100px 1fr;
  }
  .name-header,
  .age-header {
    grid-column: 1 / 2;
    grid-row: span 1;
  }

  .age-data,
  .name-data {
    grid-column: 2 / 3;
  }

  .location-header,
  .email-header {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .email-header {
    grid-row: 2;
  }

  .location-data,
  .email-data {
    grid-column: 5 / 6;
    grid-row: 1;
  }

  .email-data {
    grid-row: 2;
  }
}

@media (min-width: 900px) {
  tr {
    display: grid;
    grid-template-columns: 4em 120px 1em 5em 1fr;
  }
  .about-me-content {
    display: grid;
    grid-template-columns: minmax(400px, 400px) minmax(2em, 3em) minmax(
        400px,
        1fr
      );
  }

  .email-data span {
    display: block;
  }

  .about-me-image-container {
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    width: 100%;
  }

  .about-me {
    overflow: hidden;
  }

  .about-me-info tr {
    font-size: 0.9rem;
    overflow: hidden;
  }

  /* .about-me-info {
    width: 80%;
  } */

  .about-me-bio-title,
  .about-me-bio-title,
  .about-me-paragraph,
  .about-me-info,
  .about-me-btn {
    grid-column: 3/4;
  }

  .about-me-btn {
    justify-self: start;
  }

  .about-me-paragraph,
  .about-me-info,
  .about-me-image-container,
  .about-me-btn {
    margin-bottom: 1.5em;
  }
}

@media (min-width: 950px) {
  .about-me-image-container {
    grid-row: 2 / span 3;
    grid-column: 1 / 2;
    width: 100%;
  }
}

@media (min-width: 1080px) {
  .about-me-content {
    display: grid;
    grid-template-columns: minmax(500px, 500px) minmax(2em, 3em) minmax(
        400px,
        1fr
      );
  }
  .about-me-image-container {
    grid-row: 1 / span 5;
    grid-column: 1 / 2;
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .email-data span {
    display: inline;
  }
}
/* Resume */

.resume-list li {
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  grid-template-rows: max-content max-content 1em 1fr;
  margin-bottom: 2em;
}

.years {
  border: 2px solid #ba0f30;
  align-self: center;
  text-align: center;
  font-weight: bold;
  color: #ba0f30;
  padding: 1em;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.resume-title {
  grid-column: 3;
  justify-self: center;
  align-self: end;
}

.resume-subtitle {
  justify-self: center;
  align-self: start;
  grid-column: 3;
  grid-row: 2;
  font-weight: 400;
}

.resume-content {
  grid-column: 1 / -1;
  grid-row: 4;
}

@media (min-width: 900px) {
  .resume-list {
    display: grid;
    grid-template-columns: 1fr 1em 1fr;
  }
  .resume-col-1 {
    grid-column: 1/2;
  }

  .resume-col-2 {
    grid-column: 3/4;
  }
}

/* Skillset */
.skills-list li {
  display: grid;
  grid-template-columns: 0.5fr 1em 2fr;
  grid-template-rows: 40px 1fr;
  margin-bottom: 2em;
}

.fab,
.fas {
  grid-column: 1;
  grid-row: span 2;
  border: 1px solid #d1c5af;
  align-self: center;
  font-size: 2.5rem;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
}

.skills-list-title {
  grid-column: 3;
  grid-row: 1;
}

.skills-list-paragraph {
  grid-column: 3;
  grid-row: 2;
}

@media (min-width: 750px) {
  .skills-list li {
    display: grid;
    grid-template-columns: max-content 3em 2fr;
    grid-template-rows: 40px 1fr;
    margin-bottom: 2em;
  }
}

@media (min-width: 900px) {
  .skills-list li {
    display: grid;
    grid-template-columns: max-content 1em 1fr;
  }

  .col-2 {
    grid-column: 7/8;
  }
  .skills-list {
    display: grid;
    grid-template-columns: 1fr minmax(1em, 5em) 1fr;
  }
  .html5-item,
  .js-item,
  .react-item {
    grid-column: 1 / 2;
  }

  .tailwind-item {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .skills-item {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .mongoose-item {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

/* Portfolio */

.portfolio-links {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.portfolio-link {
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 250ms;
}

.portfolio-link:hover,
.portfolio-link:focus,
.active-portfolio {
  color: #ba0f30;
  border-bottom: 2px solid #ba0f30;
  padding-bottom: 4px;
}
.js-shuffle-sizer {
  width: 50%;
}

.shuffle-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-rows: 1fr 1fr; */
  gap: 2em;
}

.shuffle-grid-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 2em;
  z-index: 690;
}

.grid-title {
  font-size: 2rem;
  margin: 0;
}

.grid-item:hover {
  z-index: 0;
  opacity: 1;
  overflow: hidden;
  cursor: pointer;
}
.grid-item:hover::before {
  opacity: 0.7;
}

.grid-item::before {
  content: '';
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0;
}

.shuffle-grid-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 500ms;
}

/* .shuffle-grid-content:hover {
  cursor: pointer;
}

.grid-item:hover::before {
  opacity: 0.8;
  cursor: pointer;
} */

.grid-item {
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: 250ms;
}

.scale {
  filter: blur(1px);
  transform: scale(1.3);
}

.grid-title {
  color: white;
}

.reveal {
  visibility: visible;
  opacity: 1;
}

/* .shuffle-grid-img:hover {
  transform: scale(1.2);
} */
.shuffle-grid-img {
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  /* transition: transform 250ms; */
}
/* Contact Form */
.contact i {
  font-size: 2rem;
}

.contact-item {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-bottom: 2em;
}

.contact-icon {
  grid-row: span 2;
  align-self: center;
  justify-self: center;
  border-right: 2px solid rgba(96, 94, 91, 0.3);
  width: 50px;
  vertical-align: center;
}

.contact-icon-header {
  grid-column: 2;
  align-self: end;
  line-height: 1;
}

.contact-icon-p {
  align-self: start;
}

.contact-icon-p,
.contact-icon-header {
  padding-left: 1em;
}

.contact-input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 0.8em;
  border-radius: 5px;
  border: 2px solid rgba(96, 94, 91, 0.3);
  outline: 0;
}

.contact-input:focus {
  border: 2px solid #ba0f30;
}

.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.contact-textarea {
  height: 150px;
  resize: vertical;
}

@media (min-width: 900px) {
  .contact-social-list {
    display: flex;
    justify-content: space-between;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }
  .contact-subject {
    grid-row: 2 / 3;
    grid-column: span 2;
  }

  .contact-textarea {
    grid-row: 3 / 4;
    grid-column: span 2;
  }
  /* .contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    text-align: center;
    gap: 0.5em;
  }

  .contact-item * {
    margin: 0;
    padding: 0;
    text-align: center;
    align-self: center;
  } */

  /* .contact-icon {
    border: 0;
  } */
}
/* Footer */

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  background-color: #2f2440;
  color: rgba(255, 255, 255, 0.5);
}

.footer-icon {
  color: rgba(255, 255, 255, 0.8);
  transition: color 500ms;
}

.footer-link {
  color: #ba0f30;
  transition: color 500ms;
}

.footer-link:focus,
.footer-link:hover {
  color: #940c26;
  pointer: cursor;
  text-decoration: none;
}

.github:hover,
.github:focus {
  color: white;
}

.facebook:hover,
.facebook:focus {
  color: #2164f3;
}
.linkedin:hover,
.linkedin:focus {
  color: #0077b5;
}

.footer-socials {
  font-size: 1.5rem;
  display: flex;
  gap: 1em;
}

/* ======================================================> Buttons */
/* multi */

.btn {
  color: #f9f7f5;
  text-decoration: none;
  font-weight: 700;
  border-radius: 2px;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  border: none;
}

.primary-btn {
  background: #ba0f30;
  transition: background-color 500ms;
}

button {
  cursor: pointer;
}

.primary-btn:hover,
.primary-btn:focus {
  background: #940c26;
  pointer: cursor;
}

.contact-btn {
  width: 100px;
  border-radius: 5px;
}
/* Hero CTA */

.hero-tagline {
  margin-top: 2em;
  z-index: 999;
  position: relative;
}

.hero-tagline:hover,
.hero-tagline:focus {
  color: white;
  z-index: 2;
  position: relative;
}

/* @media (min-width: 900px) {
  .about-me-content {
    display: grid;
    grid-template-columns: 1fr 1em 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'photo . introduction'
      'photo . paragraph'
      'photo . form'
      'photo . cta';
  }

  .about-me-image {
    width: 50%;
    grid-area: photo;
  }

  .about-me-title {
    grid-area: introduction;
  }

  .about-me-paragraph {
    grid-area: paragraph;
  }
} */
