html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h2,
h1,
p,
div {
  margin: 0;
}

h2,
h1,
h3,
h4,
strong,
.bold {
  font-weight: 900;
}

h2[class='blue'] {
  color: blue;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.nav-list li {
  margin-right: 1em;
}
